# Ignorer tous les dossiers .vscode
.vscode/
**/.vscode/


# Ignorer les dossiers target files/target/
trafic/target/
state machine/target/

# Ignorer  statemachine.zip dans state machine
state machine/statemachine.zip

# Ignorer le dossier .. dans state machine
state machine/..*
